In [1]:
import nltk

### Stemming

In [2]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer('english')
stemmer

In [6]:
stemmer.stem('foods'), stemmer.stem('recommended')

('food', 'recommend')

In [7]:
stemmer.stem('studied')

'studi'

In [13]:
stemmer.stem('feet')

In [12]:
import pandas as pd

# 경로(ex: data/train.tsv)는 사용자 설정마다 다를 수 있음
train = pd.read_csv("data/train.tsv", sep="\t", index_col="PhraseId")

print(train.shape)
train.head()

(156060, 3)

,SentenceId,Phrase,Sentiment
PhraseId,,,
1,1,A series of escapades demonstrating the adage ...,1
2,1,A series of escapades demonstrating the adage ...,2
3,1,A series,2
4,1,A,2
5,1,series,2