In [77]:
import pandas as pd

In [78]:
import numpy as np

In [79]:
test = pd.read_csv("Downloads/test.tsv", sep="\t", index_col="PhraseId")

print(test.shape)
test.head(10)

(66292, 2)

          SentenceId                                             Phrase
PhraseId
156061          8545  An intermittently pleasing but mostly routine ...
156062          8545  An intermittently pleasing but mostly routine ...
156063          8545                                                 An
156064          8545  intermittently pleasing but mostly routine effort
156065          8545         intermittently pleasing but mostly routine
156066          8545                        intermittently pleasing but
156067          8545                            intermittently pleasing
156068          8545                                     intermittently
156069          8545                                           pleasing
156070          8545                                                but

In [80]:
train = pd.read_csv("Downloads/train.tsv", sep="\t", index_col="PhraseId")

print(train.shape)
train.head(10)

(156060, 3)

,SentenceId,Phrase,Sentiment
PhraseId,,,
1,1,A series of escapades demonstrating the adage ...,1
2,1,A series of escapades demonstrating the adage ...,2
3,1,A series,2
4,1,A,2
5,1,series,2
6,1,of escapades demonstrating the adage that what...,2
7,1,of,2
8,1,escapades demonstrating the adage that what is...,2
9,1,escapades,2
10,1,demonstrating the adage that what is good for ...,2

## Preprocessing

In [81]:
train["Phrase(Origin)"] =  train["Phrase"].copy()

print(train.shape)
train[["Phrase", "Phrase(Origin)"]].head()

(156060, 4)

,Phrase,Phrase(Origin)
PhraseId,,
1,A series of escapades demonstrating the adage ...,A series of escapades demonstrating the adage ...
2,A series of escapades demonstrating the adage ...,A series of escapades demonstrating the adage ...
3,A series,A series
4,A,A
5,series,series

In [127]:
def clean_text(phrase):
    phrase = phrase.replace("ca n't", "can not")
    phrase = phrase.replace("n't", "not")
    
    return phrase

train["Phrase"] = train["Phrase"].apply(clean_text)

print(train.shape)
train[["Phrase", "Phrase(Origin)"]].head()

(156060, 4)

,Phrase,Phrase(Origin)
PhraseId,,
1,A series of escapades demonstrating the adage ...,A series of escapades demonstrating the adage ...
2,A series of escapades demonstrating the adage ...,A series of escapades demonstrating the adage ...
3,A series,A series
4,A,A
5,series,series

In [83]:
test["Phrase(Origin)"] =  test["Phrase"].copy()
test["Phrase"] = test["Phrase"].apply(clean_text)

print(test.shape)
test[["Phrase", "Phrase(Origin)"]].head()

(66292, 3)

,Phrase,Phrase(Origin)
PhraseId,,
156061,An intermittently pleasing but mostly routine ...,An intermittently pleasing but mostly routine ...
156062,An intermittently pleasing but mostly routine ...,An intermittently pleasing but mostly routine ...
156063,An,An
156064,intermittently pleasing but mostly routine effort,intermittently pleasing but mostly routine effort
156065,intermittently pleasing but mostly routine,intermittently pleasing but mostly routine

## Vectorize phrase

In [107]:
from sklearn.feature_extraction.text import CountVectorizer

#vectorizer = CountVectorizer(max_features=100) # default(1,1)
vectorizer = CountVectorizer(max_features=10000, ngram_range=(1, 3)) 

vectorizer

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=10000, min_df=1,
        ngram_range=(1, 3), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [108]:
# fit /

vectorizer.fit(train["Phrase"])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=10000, min_df=1,
        ngram_range=(1, 3), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [109]:
X_train = vectorizer.transform(train["Phrase"])
X_train

<156060x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 1168226 stored elements in Compressed Sparse Row format>

In [110]:
vocabulary = vectorizer.get_feature_names()
pd.DataFrame(X_train[0:1000].toarray(), columns=vocabulary).head()

,10,10 minutes,10 year,100,101,11,12,12 year,12 year old,13,...,your time,your watch,yourself,youth,youthful,zeal,zero,zhang,zombie,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
X_test = vectorizer.transform(test["Phrase"])
X_test

<66292x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 426299 stored elements in Compressed Sparse Row format>

In [112]:
y_train = train["Sentiment"]

print(y_train.shape)
y_train.head()

(156060,)

PhraseId
1    1
2    2
3    2
4    2
5    2
Name: Sentiment, dtype: int64

In [113]:
from sklearn.linear_model import SGDClassifier

model = SGDClassifier()
# model = SGDClassifier(random_state=40)
model

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=None, verbose=0, warm_start=False)

In [114]:
# fit(학습 - train) / predict(예측 - test data)
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=None, verbose=0, warm_start=False)

In [115]:
predictions = model.predict(X_test)

print(predictions.shape)
predictions

(66292,)

array([3, 3, 2, ..., 2, 2, 1], dtype=int64)

## Score

In [116]:
# Cross-validation
from sklearn.model_selection import cross_val_score

score = cross_val_score(model, X_train, y_train).mean()
print("Score = {0:.6f}".format(score))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

Score = 0.578585

## Submit

In [117]:
submit = pd.read_csv("Downloads/sampleSubmission.csv", index_col="PhraseId")

print(submit.shape)
submit.head()

(66292, 1)

          Sentiment
PhraseId
156061            2
156062            2
156063            2
156064            2
156065            2

In [118]:
submit["Sentiment"] = predictions

print(submit.shape)
submit.head()

(66292, 1)

          Sentiment
PhraseId
156061            3
156062            3
156063            2
156064            3
156065            3

In [119]:
submit.to_csv("baseline-script.csv")

In [120]:
from sklearn.model_selection import cross_val_predict

y_predict = cross_val_predict(model, X_train, y_train, cv=5)

print(y_predict.shape)
y_predict

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

(156060,)

array([1, 2, 2, ..., 2, 2, 2], dtype=int64)

In [121]:
result = train.copy()
result["Sentiment(Predict)"] = y_predict

result["Distance"] = \
  np.abs(result["Sentiment"] - result["Sentiment(Predict)"])
    
result = result.sort_values(by="Distance", ascending=False)

print(result.shape)
result.head()

(156060, 6)

,SentenceId,Phrase,Sentiment,Phrase(Origin),Sentiment(Predict),Distance
PhraseId,,,,,,
117510,6271,is how its makers actually seem to understand ...,4,is how its makers actually seem to understand ...,0,4
140200,7608,might go down as one of the all-time great apo...,4,might go down as one of the all-time great apo...,0,4
89763,4671,is never especially clever and often is rather...,0,is never especially clever and often is rather...,4,4
92983,4844,"of the most moronic screenplays of the year , ...",0,"of the most moronic screenplays of the year , ...",4,4
102677,5409,- spy action flick with Antonio Banderas and L...,0,- spy action flick with Antonio Banderas and L...,4,4

In [122]:
result.to_csv("result.csv")

In [123]:
vocabulary = vectorizer.get_feature_names()
pd.DataFrame(vocabulary).to_csv("vocabulary.csv")

In [124]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_train, y_predict)
print("Score = {0:.6f}".format(score))

Score = 0.577291

## N-GRAM

In [125]:
#vectorizer = CountVectorizer(max_features=10000, ngram_range=(1, 2)) # default(1,1)

In [126]:
train[train["Phrase"].str.contains("can not")]

,SentenceId,Phrase,Sentiment,Phrase(Origin)
PhraseId,,,,
7327,300,"Sadly , though many of the actors throw off a ...",1,"Sadly , though many of the actors throw off a ..."
7328,300,", though many of the actors throw off a spark ...",1,", though many of the actors throw off a spark ..."
7329,300,though many of the actors throw off a spark or...,2,though many of the actors throw off a spark or...
7345,300,", they can not generate enough heat in this co...",0,", they ca n't generate enough heat in this col..."
7346,300,they can not generate enough heat in this cold...,0,they ca n't generate enough heat in this cold ...
7347,300,can not generate enough heat in this cold vacu...,0,ca n't generate enough heat in this cold vacuu...
7348,300,can not generate enough heat in this cold vacu...,1,ca n't generate enough heat in this cold vacuu...
7349,300,can not,2,ca n't
7883,321,So original in its base concept that you can n...,4,So original in its base concept that you can n...
7884,321,original in its base concept that you can not ...,4,original in its base concept that you can not ...
7885,321,original in its base concept that you can not ...,2,original in its base concept that you can not ...
7886,321,in its base concept that you can not help but get,2,in its base concept that you can not help but get
7887,321,its base concept that you can not help but get,2,its base concept that you can not help but get
7891,321,that you can not help but get,2,that you can not help but get
7892,321,you can not help but get,2,you can not help but get
7893,321,can not help but get,2,can not help but get
7894,321,can not help but,2,can not help but
7895,321,can not help,2,can not help
7896,321,can not,2,can not
13190,567,"A thriller whose style , structure and rhythms...",3,"A thriller whose style , structure and rhythms..."
13203,567,", you can not separate them .",2,", you can not separate them ."
13204,567,you can not separate them .,2,you can not separate them .
13205,567,can not separate them .,2,can not separate them .
13206,567,can not separate them,2,can not separate them
13892,598,I can not remember the last time I saw a movie...,2,I ca n't remember the last time I saw a movie ...
13893,598,can not remember the last time I saw a movie w...,0,ca n't remember the last time I saw a movie wh...
13894,598,can not remember the last time I saw a movie w...,1,ca n't remember the last time I saw a movie wh...
15580,668,If A Few Good Men told us that we `` can not h...,2,If A Few Good Men told us that we `` ca n't ha...
15581,668,If A Few Good Men told us that we `` can not h...,2,If A Few Good Men told us that we `` ca n't ha...
15582,668,A Few Good Men told us that we `` can not hand...,2,A Few Good Men told us that we `` ca n't handl...
...,...,...,...,...
152338,8313,"Quite frankly , I can not see why any actor of...",0,"Quite frankly , I ca n't see why any actor of ..."
152340,8313,", I can not see why any actor of talent would ...",1,", I ca n't see why any actor of talent would e..."
152341,8313,I can not see why any actor of talent would ev...,1,I ca n't see why any actor of talent would eve...
152342,8313,can not see why any actor of talent would ever...,1,ca n't see why any actor of talent would ever ...
152343,8313,can not see why any actor of talent would ever...,1,ca n't see why any actor of talent would ever ...
152930,8348,High Crimes steals so freely from other movies...,3,High Crimes steals so freely from other movies...
152931,8348,steals so freely from other movies and combine...,2,steals so freely from other movies and combine...
152932,8348,steals so freely from other movies and combine...,2,steals so freely from other movies and combine...
152942,8348,that it can not help but engage an audience,3,that it ca n't help but engage an audience
152943,8348,it can not help but engage an audience,4,it ca n't help but engage an audience
152944,8348,can not help but engage an audience,3,ca n't help but engage an audience
153319,8374,"Lasker 's canny , meditative script distances ...",3,"Lasker 's canny , meditative script distances ..."
153337,8374,realize they can not get no satisfaction witho...,2,realize they ca n't get no satisfaction withou...
153338,8374,realize they can not get no satisfaction witho...,2,realize they ca n't get no satisfaction withou...
153339,8374,they can not get no satisfaction without the l...,2,they ca n't get no satisfaction without the la...
153340,8374,can not get no satisfaction without the latter,1,ca n't get no satisfaction without the latter
155012,8482,"We can tell what it is supposed to be , but ca...",1,"We can tell what it is supposed to be , but ca..."
155013,8482,"can tell what it is supposed to be , but can n...",1,"can tell what it is supposed to be , but ca n'..."
155014,8482,"can tell what it is supposed to be , but can n...",1,"can tell what it is supposed to be , but ca n'..."
155015,8482,"tell what it is supposed to be , but can not r...",2,"tell what it is supposed to be , but ca n't re..."
155016,8482,"what it is supposed to be , but can not really...",1,"what it is supposed to be , but ca n't really ..."
155017,8482,"it is supposed to be , but can not really call...",1,"it is supposed to be , but ca n't really call ..."
155018,8482,"is supposed to be , but can not really call it...",1,"is supposed to be , but ca n't really call it ..."
155021,8482,can not really call it a work of art,1,ca n't really call it a work of art
155877,8533,Proves a servicable World War II drama that ca...,3,Proves a servicable World War II drama that ca...
155878,8533,Proves a servicable World War II drama that ca...,3,Proves a servicable World War II drama that ca...
155879,8533,a servicable World War II drama that can not t...,2,a servicable World War II drama that ca n't to...
155886,8533,that can not totally hide its contrivances,1,that ca n't totally hide its contrivances
155887,8533,can not totally hide its contrivances,2,ca n't totally hide its contrivances
155888,8533,can not totally,2,ca n't totally